# Default ignored files
/shelf/
/.idea/
/Software Development/Learning Java/.idea/

/*/.git
node_modules/
/*/.angular
/*/.vscode
*.zip
*.rar
*.next*
/*/.env
*.env
/*/environ.js
*/environ.js


#Local three js library, included localy to load it and use it
/Software Development/Learning three js/three.js-master/