# Default ignored files
/shelf/
/.idea/
/Software Development/Learning Java/.idea/

/*/.git
/*/node_modules
/*/.angular
.*/*.zip
.*/*.rar

#Local three js library, included localy to load it and use it
/Software Development/Learning three js/three.js-master/