<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage users | MySQL CRUD WEB App</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
</head>
<body>
<div class="container-fluid text-center">

  <h1>Users list</h1>
  <div class="m-3">
    <a class="h3" th:href="@{/users/new}">Add a new user </a>
  </div>

  <div th:if="${message}" class="alert alert-success alert-dismissible text-center">
    [[${message}]]
  </div>

  <div th:if="${message_danger}" class="alert alert-danger alert-dismissible text-center">
    [[${message_danger}]]
  </div>
  <div th:if="${message_info}" class="alert alert-info alert-dismissible text-center">
    [[${message_info}]]
  </div>

  <div th:if="${message_warning}" class="alert alert-warning alert-dismissible text-center">
    [[${message_warning}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <th>ID</th>
      <th>E-mail</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Enabled status</th>
      <th>Manage</th>
      </thead>
      <tbody>
      <th:block th:each="user : ${listUsers}">
        <tr>
          <td>[[${user.id}]]</td>
          <td>[[${user.email}]]</td>
          <td>[[${user.firstName}]]</td>
          <td>[[${user.lastName}]]</td>
          <td>[[${user.enabled}]]</td>
          <td>
              <a class="h4 m-2" th:href="@{'/user/'+${user.id}+'/edit'}">Edit</a>
              <a class="h4 m-2" th:href="@{'/user/'+${user.id}+'/delete'}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>